#theCanvas{
      margin-top: 10px;
      
}
#toolBox{
  margin-top: 10px;
  margin-left: 23px;
}

#lineWidth{
  margin-top: 10px;
}
#colors{
  margin-left: -101px;
  margin-top: 10px;

}
#title{
    color: white;
    text-align: center;
    margin-left: 650px;
    font-family: 'Maven Pro';
}
