#theCanvas{
      margin-top: 10px;

}
#toolBox{
  margin-top: 10px;
  margin-left: 23px;
}

#lineWidth{
  margin-top: 10px;
}
#colors{
  margin-left: -101px;
  margin-top: 10px;

}
#title{
    color: white;
    text-align: center;
    margin-left: 650px;
    font-family: 'Maven Pro';
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
